.container-fluid {
  color: brown;
  font-family: sans-serif;
  margin-top: 30px;
  margin-bottom: 80px;
}

.outfits {
  color:navy;
  font-weight: bolder;
  margin-top: 50px;
  margin-bottom: 80px;
}

#first {
  padding: 50px;
  float: left;
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;


}
